.result-name-card{
    color: white;
    background-color: #6C63FF;
    margin: 20px 15px;
    min-width: 75px;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    transition: background-color 0.35s;
    display: flex;
    justify-content: center;
}

.result-name-card:hover{
    background-color: #16116e;
    color: #e7e9f0;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

.result-name{
    margin: 0;
    font-weight: 100;
    display: inline-block;
}

.name-link{
    text-decoration: none;
}